version: "3.9"

services:
  mysql:
    image: mysql:8.4
    container_name: tttMySQL
    environment:
      MYSQL_ROOT_PASSWORD: "dB@min5211"
      MYSQL_DATABASE: "ttt"
      MYSQL_USERNAME: "root"
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    restart: unless-stopped

volumes:
  mysql_data: