version: "3.9"

services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: tttSQLSS
    environment:
      ACCEPT_EULA: "Y"
      MSSQL_SA_PASSWORD: "dB@min5211"  
    ports:
      - "1433:1433"
    volumes:
      - mssql_data:/var/opt/mssql
    restart: unless-stopped

volumes:
  mssql_data:
